#aboutPage {
  margin: 2vh 4vh;
}

#me,
#code,
#future {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 24px;
  font-size: 22.5px !important;
  font-family: "DotGothic16", sans-serif !important;
  color: #fff;
  letter-spacing: 0.8px;
  text-shadow: 0 0 2.5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #d4af37,
    0 0 40px #d4af37, 0 0 45px #d4af37, 0 0 50px #d4af37, 0 0 75px #d4af37;
}
