#aboutPage {
  margin: 2vh 4vh;
}

#past,
#present,
#future {
  position: relative;
  opacity: 0;
  width: 100%;
  height: auto;
  padding: 20px 24px;
  font-size: 22.5px !important;
  font-family: "DotGothic16", sans-serif !important;
  color: #fff;
  letter-spacing: 0.8px;
  text-shadow: 0 0 2.5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 20px #d4af37,
    0 0 40px #d4af37, 0 0 45px #d4af37, 0 0 50px #d4af37, 0 0 75px #d4af37;
}

#me,
#code,
#booth {
  width: 100%;
  height: auto;
  position: relative;
  opacity: 0;
}

#past,
#me {
  animation-name: renderMoi;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#present,
#code {
  animation-name: renderMoi;
  animation-delay: 40s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

#future,
#booth {
  animation-name: renderMoi;
  animation-delay: 75s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes renderMoi {
  0% {
    opecity: 0;
  }
  100% {
    opacity: 1;
  }
}
